footer.footer.no-scrollify
    .container
        .row
            .col-xs-24
                .footer__wrapper
                    .footer__logo
                        a(href="/#home")
                            | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>   
                        p &reg; Mow Player 2018
                    ul.footer__nav
                        li
                            a(href="#") Sign up / Register
                        li
                            a(href="#") Contact Us
                        li
                            a(href="#") Support
                        li
                            a(href="#") FAQs
                    ul.footer__social
                        li
                            a(href="#")
                                i.fa.fa-facebook
                        li
                            a(href="#")
                                i.fa.fa-linkedin
                        
